div(ng-controller='contactCtrl')
	article(id='index-text',class='sub-content-text margin-fullwith')
		article(id='index-text',class='sub-content-text contact-class')
			ul(class='contact-ul')
				li
					| Nombre de contacto:
				li
					| Nestor Rivas
			ul(class='contact-ul')
				li
					| Teléfono Venezuela:
				li
					| (58) 243 551 6286
				li
					| (58) 412 348 2602

			ul(class='contact-ul')
				li
					| correo:
				li
					a(href='mailto:enriva@gmail.com',target='_top')
						| Click para enviar correo de consulta
			ul(class='contact-ul')
				li
					| Apartado postal:
				li
					| 2102 Maracay
			ul(class='contact-ul')
				li
					| Página web:
				li
					a(href='www.enriva.com.ve')
						| www.enriva.com.ve
