div(ng-controller='cortCtrl')
	article(id='index-text',class='sub-content-text margin-fullwith')
		article(id='index-text',class='sub-content-text')
			h2
				p
					| This page is under construction. Sorry for inconveniences
			h2
				p
					| Esta página esta en construcción. Disculpe las molestias.
			ul(class='contact-ul')
				li
					h2
						| Siéntase libre de contactarnos para cualquier información:

			div(ng-repeat='contact in data.Contact')
				ul.contact-ul
					li
						| País:
					li
						| {{contact.country}}
				ul.contact-ul
					li
						| Nombre de contacto:
					li
						| {{contact.contactName}}
				ul.contact-ul
					li
						| Teléfonos:
					li
						| {{contact.phone}}
					li
						| {{contact.mobile}}
					li
						| {{contact.foreingNumber}}
				ul.contact-ul
					li
						| Correo:
					li
						a(href='mailto:{{contact.emil}}',target='_top')
							| {{contact.emil}}
				ul.contact-ul
					li
						| Código postal:
					li
						| {{contact.pcode}}
				ul.contact-ul
					li
						| Página web:
					li
						a(href='http://{{contact.web}}')
							| {{contact.web}}
				br
				br
