div(ng-controller='galleryCtrl')
	div#myCarousel1(class='carousel slide carousel-galeria',data-interval='3000',data-ride='carousel')
		ol(class='carousel-indicators')
			li(data-target='#myCarousel1',data-slide-to='$index',ng-repeat='image in data.gallery.carousel',class='{{image.class}}')
		div.carousel-inner
			div(class='item {{image.class}}',ng-repeat='image in data.gallery.carousel')
				img(src="{{image.path}}",alt='$index')
			a(class='carousel-control left',href='#myCarousel1',data-slide='prev')
				span(class='glyphicon glyphicon-chevron-left')
			a(class='carousel-control right',href='#myCarousel1',data-slide='next')
				span(class='glyphicon glyphicon-chevron-right')
