div(ng-controller='sierCtrl')
  article(id='index-text',class='sub-content-text margin-fullwith')
    div()
      ul(class='productos-ul')
        li(ng-repeat='product in data.products.keego',data-markupId='{{$index}}')
          div.productDetails(id='productDetail{{$index}}',product-details)
            div.container
              div.col-xs-12(class='productos_name')
                | {{product.name}}
                a.close-button.pull-right#noAction(ng-click='closeProductDetails($index)')
                  div.close-button-container
                    | X


            div.productDetails-content
              div.container
                div.col-xs-12
                  img.col-xs-12(src='{{product.img}}')

              div
                ul.productMenu
                  li#0(product-detils-tab).active
                    a
                      | Especificación
                  li(product-detils-tab)#1
                    a
                      | Descripción
                  li(product-detils-tab)#2
                    a
                      | Video

              div#product-specification.active(class='product-detail-content product-detail0')
                | SPEC
              div#product-descripcion(class='product-detail-content product-detail1')
                | DESC
              div#product-video(class='product-detail-content product-detail2')
                | VIDEO

          div(class='product-container',product-small)
            div(class='products-tittle',ng-if='product.groupT')
              span(ng-bind-html='dTs(product.groupName)')
            a.col-xs-12(onclick='')
              img.col-xs-12(src='{{product.img}}')
            div(class='productos_name')
              | {{product.name}}
            div(class='productos_comment')
              b
                | {{product.desc}}
              div(class='hidden_comment',id='prod{{$index + 1}}')
                span(ng-bind-html='dTs(product.full)')
