script(type="text/javascript",src="/bower_components/jquery/dist/jquery.min.js")
script(type="text/javascript",src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript",src="/bower_components/angular/angular.min.js")
script(type="text/javascript",src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")
script(type="text/javascript",src="/bower_components/angular-sanitize/angular-sanitize.min.js")
script(type="text/javascript",src="/bower_components/firebase/firebase.js")
script(type="text/javascript",src="/bower_components/angularfire/dist/angularfire.min.js")
script(type="text/javascript",src="/javascripts/js/app.js")
script(type="text/javascript",src="/javascripts/sections/about/controller/aboutController.js")
script(type="text/javascript",src="/javascripts/sections/services/controller/servicesController.js")
script(type="text/javascript",src="/javascripts/sections/products/controller/productsController.js")
script(type="text/javascript",src="/javascripts/sections/main/controllers/mainController.js")
script(type="text/javascript",src="/javascripts/sections/main/services/fb_service.js")
script(type="text/javascript",src="/javascripts/sections/main/directives/dom_handler.js")
