doctype html
html
	head
		title= title
		meta(name='viewport',content='width=device-width, initial-scale=1')
		meta(name='description', content='ENRIVA, C.A. es una empresa con amplia experiencia en diversos procesos de soldadura y en particular en soldadura orbital. Provee: Fuentes,Soldadura,Orbital,Cabezales,Cerrados,Tubo,Abiertos,Placa,Alimentadores,Alambre,Equipos,equipo,Soldadura Orbital,Entrenamiento,curso,cursos,Alquiler,Equipo de Soldadura Orbital.')
		meta(name='keywords', content='Fuente,Soldadura,Orbital,Cabezales,Cerrados,Tubo,Abiertos,Placa,Alimentadores,Alambre,Equipos,equipo,Soldadura Orbital,Entrenamiento,curso,cursos,Alquiler')
		meta(name='abstract', content='Fuente,Soldadura,Orbital,Cabezales,Cerrados,Tubo,Abiertos,Placa,Alimentadores,Alambre,Equipos,equipo,Soldadura Orbital,Entrenamiento,curso,cursos,Alquiler')
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		//
			link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
	body
		div(id='content',class='main-content',ng-controller='mainC',ng-app='mainApp')
			include partials/bloks/header.jade
			block content
			include partials/bloks/footer.jade
		include includes.jade
