header(id='content-header',class='content-header')
	div(id='upside-header',class='upside-header')
		a(href='index.html')
			img(src='images/img/logo.png',class='logo')
		div(id='page-tittle',class='page-tittle')
		button(id='responsive-menu',class='btn btn-default btn-lg')
			span(id='menu-icon',class='glyphicon glyphicon-align-justify')
	ul(id='menu',class='menu')
		li
			a(ui-sref='main',ng-class="{selected: $state.includes('main')}")
				| Inicio
		li
			a(href='index.html')
				| Nosotros
		li
			a(href='index.html')
				| Servicios
		li
			a(href='index.html')
				| Productos
			ul(class='menu sub-menu hidden')
				li
					a(href='soldorb.html')
						| Soldadura orbital
				li
					a(href='soldorb.html')
						| Corte orbital
				li
					a(href='soldorb.html')
						| Sierras copas especiales
				li
					a(href='soldorb.html')
						| Taladros magnéticos
		li
			a(href='index.html')
				| Galeria
		li
			a(href='index.html')
				| Videos
		li
			a(href='index.html')
				| Clientes
		li
			a(href='index.html')
				| Contáctenos
