header(id='content-header',class='content-header')
	div(id='upside-header',class='upside-header')
		a(href='index.html')
			img(src='images/img/logo.png',class='logo')
		div(id='page-tittle',class='page-tittle')
		button(id='responsive-menu',class='btn btn-default btn-lg')
			span(id='menu-icon',class='glyphicon glyphicon-align-justify')
	ul(id='menu',class='menu')
		li
			a(ui-sref='main',ng-class="{selected: $state.includes('main')}")
				| Inicio
		li
			a(ui-sref='about',ng-class="{selected: $state.includes('about')}")
				| Nosotros
		li
			a(ui-sref='services',ng-class="{selected: $state.includes('services')}")
				| Servicios
		li
			a(href='',ng-class="{selected: $state.includes('products')}",id='products-launcher')
				| Productos
			ul(class='menu sub-menu hidden',id='menu-products',sub-menu-launcher)
				li
					a(ui-sref='products.soldOrb',ng-class="{selected: $state.includes('products.soldOrb')}")
						| Soldadura orbital
				li
					a(ui-sref='products.cortOrb',ng-class="{selected: $state.includes('products.cortOrb')}")
						| Corte orbital
				li
					a(ui-sref='products.sierOrb',ng-class="{selected: $state.includes('products.sierOrb')}")
						| Sierras copas especiales
				li
					a(ui-sref='products.talOrb',ng-class="{selected: $state.includes('products.talOrb')}")
						| Taladros magnéticos
		li
			a(ui-sref='gallery',ng-class="{selected: $state.includes('gallery')}")
				| Galeria
		li
			a(ui-sref='videos',ng-class="{selected: $state.includes('videos')}")
				| Videos
		li
			a(ui-sref='costumers',ng-class="{selected: $state.includes('costumers')}")
				| Clientes
		li
			a(ui-sref='contact',ng-class="{selected: $state.includes('contact')}")
				| Contáctenos
